.game-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #657085;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  border: 0.25vmin solid black;
  box-shadow: 0 0 0.5em 0 black;
  z-index: 1000;
}

.game-bar-pause-button {
  font-size: 7vmin;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  line-height: 0;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 0px 0px 0.75vmin black, 0 0 0.5em 0 black;
  position: fixed;
  background-color: #cdcdcd;
  color: black;
}

.game-bar-button {
  font-size: 4vmin;
  width: 2em;
  height: 1.25em;
  text-align: center;
  line-height: 0;
  border-radius: 50%;
  border: 0.25vmin solid black;
  background-color: #cdcdcd;
  color: black;
  margin: 0.5vmin 1vmin;
}

.game-bar-button:disabled {
  background-color: #878787;
  color: #4a4a4a;
}

@media (hover: hover) {
  .game-bar-pause-button:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  .game-bar-button:enabled:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
}

.game-bar-pause-button:active {
  background-color: #feffb1;
}

.game-bar-button:enabled:active {
  background-color: #feffb1;
}

.game-bar-button.portrait-mode {
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  .game-bar {
    font-size: 5vmin;
  }
  .game-bar-pause-button {
    display: none;
  }
  .game-bar-button {
      font-size: 6vmin;
      width: 1.2em;
      height: 1.2em;
      border: 0;
      box-shadow: 0px 0px 0px 0.75vmin black, 0 0 0.5em 0 black;
      margin: 2vmin 2vmin;
  }
  .game-bar-button.portrait-mode {
    display: inline-block;
  }
}
