.ReactModal__Overlay {
  z-index: 1000;
}

.GameModal {
  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  padding: 20px;
  text-align: center;
  border: 5px solid black;
  border-radius: 2em;
}

.GameModal > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.GameModal button {
  font-size: large;
  padding: 0.5em;
  margin: 1em;
}

.GameModal button.large-button {
  font-size: x-large;
  padding: 1em;
}

.GameModal hr {
  margin: 2em 3em;
}

.GameModal .buttonMenu {
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(240px, 1fr));
  flex: 1;
}

@media (min-width: 1064px) {
  .GameModal .buttonMenu.bm-limit3 {
    grid: auto-flow / repeat(3, 1fr);
  }
}

.GameModal .buttonMenu button {
  padding: 1em;
}
